<nav class="top-navbar" th:fragment="header">
    <div class="brand-search-icons">
        <!-- 브랜드 로고/이름 -->
        <a class="brand" th:href="@{/}">
            <img src="/img/logo.png" alt="logo" class="brand-logo"> <span class="brand-name">Furniro</span>
        </a>
        <!-- 검색창 -->
        <form th:action="@{/products}" method="get" class="search-bar">
            <input type="text" name="keyword" placeholder="이름으로 검색"
                   th:value="${keyword}" />
            <button type="submit" class="search-btn">&#128269;</button>
        </form>
        <!-- 아이콘 버튼 -->
        <div class="nav-icons">
            <a th:href="@{/cart}" class="icon"><span>&#128722;</span></a>
            <a th:href="@{/wishlist}" class="icon"><span>&#10084;</span></a>
            <a th:href="@{/mypage}" class="icon"><span>&#128100;</span></a>
        </div>
    </div>

    <!-- 하단 카테고리 (2단 드롭다운) -->
    <ul class="category-menu">
        <li><a th:href="@{/}" class="active">홈</a></li> <!-- 기본 활성 메뉴 -->
        <li class="dropdown">
            <a href="#">카테고리</a>
            <ul class="dropdown-content main-menu">
                <li class="has-submenu">
                    <a href="#">아우터</a>
                    <ul class="submenu">
                        <li><a href="#">자켓</a></li>
                        <li><a href="#">코트</a></li>
                        <li><a href="#">점퍼</a></li>
                        <li><a href="#">무스탕/퍼</a></li>
                        <li><a href="#">가디건</a></li>
                        <li><a href="#">야상</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">상의</a>
                    <ul class="submenu">
                        <li><a href="#">티셔츠</a></li>
                        <li><a href="#">셔츠/남방</a></li>
                        <li><a href="#">블라우스</a></li>
                        <li><a href="#">니트/스웨터</a></li>
                        <li><a href="#">후드</a></li>
                        <li><a href="#">맨투맨</a></li>
                        <li><a href="#">나시/민소매</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">바지</a>
                    <ul class="submenu">
                        <li><a href="#">청바지</a></li>
                        <li><a href="#">슬랙스</a></li>
                        <li><a href="#">면바지</a></li>
                        <li><a href="#">반바지</a></li>
                        <li><a href="#">트레이닝/조거</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">원피스</a>
                    <ul class="submenu">
                        <li><a href="#">미니</a></li>
                        <li><a href="#">미디</a></li>
                        <li><a href="#">롱</a></li>
                        <li><a href="#">투피스</a></li>
                        <li><a href="#">점프수트</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">스커트</a>
                    <ul class="submenu">
                        <li><a href="#">미니</a></li>
                        <li><a href="#">미디</a></li>
                        <li><a href="#">롱</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">신발</a>
                    <ul class="submenu">
                        <li><a href="#">플랫/로퍼</a></li>
                        <li><a href="#">샌들/슬리퍼</a></li>
                        <li><a href="#">힐</a></li>
                        <li><a href="#">스니커즈</a></li>
                        <li><a href="#">부츠/워커</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">가방</a>
                    <ul class="submenu">
                        <li><a href="#">크로스백</a></li>
                        <li><a href="#">토트백</a></li>
                        <li><a href="#">숄더백</a></li>
                        <li><a href="#">에코백</a></li>
                        <li><a href="#">클러치</a></li>
                        <li><a href="#">백팩</a></li>
                        <li><a href="#">지갑</a></li>
                        <li><a href="#">파우치</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a th:href="@{/best}">베스트</a></li>
        <li><a th:href="@{/new}">신상</a></li>
        <li><a th:href="@{/event}">이벤트</a></li>
    </ul>
</nav>
